# This file can be used as a template for your own .ENV file
# the .ENV file sets ups some variables that are dependent on the 
# swarm and GChat being used
#
#
# Directory for temp files
DIR="/tmp/seccheck"
# what docker image to look for e.g. "prod", "dev_env","dess"
VERSION="prod"
# URL of gChat webhook
# See https://developers.google.com/chat/how-tos/webhooks for more details
URL="<gChat webhook URL>"
# leave this many files in the logs directory
# Allows us to investigate and not max out the files
LEAVE="24"
# Max number of affected @signs in chat
MAX="10"
# Make sure this is Enviroment variable is reset
ATSIGNS=""
# Check this many days til expiration of cert (used by certcheck.sh)
EXPIREDAYS="10"
# DNS Domain the cluster lives in for example for the hornet cluster
DNS=".hornet.atsign.zone"